version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: dating-app-db
    restart: always
    environment:
      - POSTGRES_DB=dating_db
      - POSTGRES_USER=postgres_user
      - POSTGRES_PASSWORD=postgres_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: